# Basic .gitignore to filter out temporary files, binaries, personal scripts unrelated to the project, and the primary build folder.
# Copyright © 2023 Raine "Gravecat" Simmons. Licensed under the GNU Affero General Public License v3 or any later version.

~$*
*.exe
*.lnk
*.o
*.tmp
.vscode
build
scripts
wiki
